.partners{
    background-color: $color-gray-6;
    padding: $pd-3 0;
    .partners__content{
        width: 70%;
        margin: 0 auto;
        .partners__text{
            text-align: center;
        }
        .partners__imgs{
            display: flex;
            justify-content: space-between;
        }
    }
}